* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #ad4a4a;
    color: white;
    max-width: 1200px;
    margin-left: 30px;
}
.container {
    margin: 16px 0px;
}

h1 {
    text-align: center;
    margin: 10px;
    font-size: 40px;
    letter-spacing: 15px;
    text-decoration: underline;
    color: midnightblue;
}

fieldset {
    border: 2px solid white;
    border-radius: 25px;
}

legend {
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: px;
    text-transform: capitalize;
    color:chartreuse;
}
.options {
    text-align: center;
    background-color: #ad4a4a;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 5px;
    cursor:context-menu;
}
.option {
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    color: beige;
}

.option:hover {
    color: black;
    font-weight: bold;
}
.options .active {
    color: aqua;
    text-decoration: underline;
}
canvas {
    border: 5px solid black;
}